@import url("../../color.css");
@import url("//cdn.jsdelivr.net/npm/gruvbox.css@0/gruvbox-pcs.css");

:root {
  --term-color-black: var(--gruvbox-mode-bg-0);
  --term-color-maroon: var(--gruvbox-abs-neutral-red);
  --term-color-green: var(--gruvbox-abs-neutral-green);
  --term-color-olive: var(--gruvbox-abs-neutral-yellow);
  --term-color-navy: var(--gruvbox-abs-neutral-blue);
  --term-color-purple: var(--gruvbox-abs-neutral-purple);
  --term-color-teal: var(--gruvbox-abs-neutral-aqua);
  --term-color-silver: var(--gruvbox-mode-fg-4);
  --term-color-grey: var(--gruvbox-mode-fg-2);
  --term-color-red: var(--gruvbox-mode-red);
  --term-color-0f0: var(--gruvbox-mode-neutral-green);
  --term-color-ff0: var(--gruvbox-mode-neutral-yellow);
  --term-color-00f: var(--gruvbox-mode-neutral-blue);
  --term-color-f0f: var(--gruvbox-mode-neutral-purple);
  --term-color-0ff: var(--gruvbox-mode-neutral-aqua);
  --term-color-fff: var(--gruvbox-mode-fg-0);
}

@font-face {
  font-family: "Fusion Pixel PTT";
  src: url(Fusion-Pixel-PTT.woff2) format("woff2");
}
